.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.container, .row, .col {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-20 {
    padding: 20px;
}

body{
   background-color: rgba(255, 213, 234, 0.4);
    display: grid!important;
    grid-template-rows: 1fr auto!important;
    min-height: 100vh!important;
}


/* Styling for the back to top button */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 68px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Styling for the back to top button on hover */
#backToTopBtn:hover {
    background-color: black;
}