.donate-page {
    background-image: url('/images/donate-bg-img.png');
    background-size: cover;
    background-attachment: fixed;
}
.donate-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.donate-form {
    background-color: rgba(255, 67, 117, 0.8);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
}

.rewards-list {
    list-style: inside;
    padding: 0;
}

.reward-item {
    margin-bottom: 10px;
}

.donate-area{
    margin-top: 40px;
    margin-bottom: 40px;
}

h3, h2{
    margin: 20px;
}