.footer-bg {
    background-color: #2e2e2e;
    color: #ffffff;
}

.footer-bg a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bg a:hover {
    color: #cccccc;
}

.footer-logo {
    width: 30px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
}

.footer-social-icons svg,
.footer-social-icons i {
    color: #ffffff;
}

.footer-social-icons svg:hover,
.footer-social-icons i:hover {
    color: #cccccc;
}

#footerLogoutButton {
    background-color: cornflowerblue;
    color: white;
    border: none;
}

@media (max-width: 768px) {
    .footer-bg {
        text-align: center;
    }
}
