.custom-bg {
    background-color: #2e2e2e;
}
.custom-bg .navbar-nav .nav-link {
    color: #ffffff;
}

.custom-bg .navbar-nav .nav-link:hover {
    color: #cccccc;
}

.custom-bg .headerBrand  {
    color: #ffffff;
}
