.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-icon{
    width: auto;
    height: 70px;
}

.navbar{
    background-color: rgba(48, 71, 94, 0.9);
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.navbar-nav .nav-link:hover {
    color: #f8f9fa;
    background-color: rgba(68, 93, 116, 0.9);
}

.dropdown-menu {
    background-color: rgba(68, 93, 116, 0.9);
}
.dropdown-menu .dropdown-item:hover {
    background-color: rgba(48, 71, 94, 0.9);
    color: white;
}
.headerBrand:hover .navbar-icon {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#logoutButton {
    background-color: rgba(235, 101, 206, 0.8);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#logoutButton:hover {
    background-color: rgba(235, 101, 206, 1);
    color: #f8f9fa;
}

.navbar-icon {
    height: 70px;
}