.vision {
    height: 100%;
}

.vision img {
    object-fit: cover;
    height: 50%;
}

h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.view-all-button {
    background-color: rgba(50, 50, 50, 1);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width: 85%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.view-all-button:hover {
    background-color: rgba(30, 30, 30, 1);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.kids-light-show{
    width: 100%;
    padding: 20px;
    margin: 40px 20px 40px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(255, 213, 234, 0.4);
}

.home-cards{
    width: 100%;
    padding: 20px;
    margin: 40px 20px 40px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(255, 213, 234, 0.3);
    color: black;
}

.img-fluid {
    position: relative;
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.main-title {
    color: black;
    font-size: 34px;
    font-family: "Mark Pro", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 700px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.main-title2 {
    color: snow;
    font-size: 34px;
    font-family: "Mark Pro", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 700px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}
.main-text {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: 'Mark Pro',Arial,sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: black;
    text-align: justify;
}

.img-hover-zoom {
    transition: transform 0.3s ease;
}

.img-hover-zoom:hover {
    transform: scale(1.3);
}

.kid-name {
    color: #2B2A29;
    font-family: "Mark Pro", Arial, sans-serif;
}

.kid-name:hover {
    text-decoration: underline;
}

.main-title-year {
    background: linear-gradient(to right, rgba(255, 213, 234, 0.4) 0%, rgba(0, 0, 139, 1) 50%, rgba(255, 213, 234, 0.4) 100%);
    font-size: 25px;
    font-family: "Mark Pro", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 700px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    color:snow;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-caption {
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.works-each-year{
    border:0px!important;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.home-titles {
    color: black;
    font-size: 34px;
    font-family: "Mark Pro", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 700px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.img-fixed-height {
    height: 250px!important;
    object-fit: cover!important;
    width: 100%;
    padding: 1.25rem;
}

.see-more-button{
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border:0;
}

.see-more-button:hover {
    background-color: rgba(30, 30, 30, 1);
}

.kid-name{
    color:black;
}