.register-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: calc(100% - 20px);
    height:40px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 213, 234, 0.5);
    color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: rgba(255, 213, 234, 0.8);
}
