
.custom-box {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.center-box {
    top: 50%;
    left: 50%;
}
.display-element{
    display: block;
}
.hide-element{
    display: none;
}