.fixed-width-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
.custom-margin {
    margin-left: -100px;
}
.custom-margin2 {
    margin-left: -100px;
}
.text-area-form {
    margin-top: 20px;
}

.text-area-form textarea {
    width: 100%;
    margin-bottom: 10px;
}


#likeBtn, #addCommentBtn {
    margin-top: 20px;
}

.info-text {
    margin-top: 20px;
}
#GG{
    margin-bottom: 100px;
}
.comment-box {
    background-color: rgba(255, 213, 234, 0.3);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}