<footer th:fragment="footerBlock"
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="https://citylions.org/soho-kids-xmas-lights-2023/"
           class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-top">
        </a>
        <span class="text-muted">© Soho Kids Xmas Lights 2023</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-styled d-flex">
        <li class="ms-3"><a class="text-muted" href="#">
            <i class="bi bi-twitter" width="24" height="24"></i>
        </a></li>
        <li class="ms-3"><a class="text-muted" href="#">
            <i class="bi bi-instagram" width="24" height="24"></i>
        </a></li>
        <li class="ms-3"><a class="text-muted" href="#">
            <i class="bi bi-facebook" width="24" height="24"></i>
        </a></li>
    </ul>
</footer>