<footer th:fragment="footerBlock" class="footer-bg">
        <div class="row align-items-center container">
            <div class="col-md-6 d-flex align-items-center">
                <a href="https://citylions.org/soho-kids-xmas-lights-2023/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-top">
                </a>
                <span class="text-muted">© Soho Kids Xmas Lights 2023</span>
            </div>

            <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                        <path d="..."></path>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="text-muted" href="#">
                    <i class="bi bi-instagram"></i>
                </a></li>
                <li class="ms-3"><a class="text-muted" href="#">
                    <i class="bi bi-facebook"></i>
                </a></li>
            </ul>
    </div>
</footer>
