<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Motif</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="adminCommon.css">
</head>
<body>
<div th:replace="~{fragments/admin_header :: adminHeaderBlock}"/>
<section class="container w-50 shadow-lg p-3 my-3 rounded">
    <form id="imageForm">
        <h2 class="mb-4">Add Motif Form</h2>
        <span id="errorMessages" class="text-danger"></span>
        <div class="mb-3">
            <label for="img_id" class="form-label">Image ID:</label>
            <input type="number" class="form-control" id="img_id" name="img_id" max="9999999" required>
            <span id="img_id_error" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <span id="name_error" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <input type="number" class="form-control" id="age" name="age" max="20"
                   required>
            <span id="age_error" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3"
                      required></textarea>
            <span id="description_error" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="url" class="form-label">URL:</label>
            <input type="url" class="form-control" id="url" name="url" required>
            <span id="url_error" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="sourceUrl" class="form-label">Source URL:</label>
            <input type="url" class="form-control" id="sourceUrl" name="sourceUrl" required>
            <span id="source_url_error" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="issueDate" class="form-label">Issue Year:</label>
            <input type="number" class="form-control" id="issueDate" name="issueDate" max="2024" min="2020"
                   required>
            <span id="issue_date_error" class="text-danger"></span>
        </div>

        <button type="button" class="btn btn-primary" id="submitButton" onclick="submitForm()">Submit</button>
    </form>

    <div id="result" class="mt-4"></div>
</section>

<div th:replace="~{fragments/admin_footer :: adminFooterBlock}"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/adminCommon.js"></script>
<script src="/js/addImage.js"></script>
</body>
</html>