<!DOCTYPE html>
<html>
<head>
    <title>Award Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
</head>
<body>
<div th:replace="~{fragments/header :: headerBlock}"/></div>

<div class="container">
    <h2>Award Details</h2>
    <div>
        <h3 th:text="${award.name}">Award Name</h3>
        <p><strong>Date:</strong> <span th:text="${award.date}">Award Date</span></p>
        <p><strong>Description:</strong> <span th:text="${award.description}">Award Description</span></p>
    </div>
</div>
</body>
</html>
