<!DOCTYPE html>
<html>
<head>
    <title>Awards</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
</head>
<body>
<div th:replace="~{fragments/header :: headerBlock}"/></div>

<div class="container">
    <h2>Company Awards</h2>
    <div id="awards-container">
        <!-- Awards will be loaded here -->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/awards.js"></script>
</body>
</html>