<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Soho xmas lights</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="paintingShow.css">
</head>
<body>

<!--    Navbar  -->
<section th:replace="~{fragments/header :: headerBlock}"/>

<!--    Logo, Name, Slogan  -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center ">
                <img src="logo1.png" class="home-logo">
            </div>
            <div class="col-md-8 text-center">
                <p>Soho Kids Xmas Light</p>
                <p>Bringing together architecture, kids, and community</p>
            </div>
        </div>
    </div>
</section>

<!--    carousel    -->
<section id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="homepageBackgroundImage.png" class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption">
                <h2 class="carousel-text text-center">The child-designed light project returns to the streets of Soho for 2023!</h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="2023Map.webp" class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption">
                <h2 class="carousel-text text-center">Walk the Christmas trail by following the map</h2>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>

<div class="container">
    <div class="row">
<!--    social media icons area    -->
        <div class="col-md-1">
        </div>
<!--    main content area    -->
        <div class="col-md-10">
            <section class="kids-light-show" id="works">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h2 class="main-title text-center">Works submitted and awarded over the years</h2>
                        <p class="main-text">Award winning Architecture for Kids CIC presents its annual Soho Kids Xmas Lights
                            project
                            showcasing the designs of pupils from Soho Parish Primary School.

                            The children designed the Christmas street lighting in keeping with this year's theme of lighting,
                            identity
                            of place, and fashion - inspired by their local area, which also offers an invitation to the entire
                            community to engage and to reflect on the importance of the identity of a place and its development.

                        </p>
                        <div>
                            <a class="d-flex justify-content-center" th:href="@{/paintings}">
                                <button class="view-all-button">view more kids works>>></button>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href="paintings/2021"><h3 class="main-title-year">2021</h3></a>
                        <div id="kids-2021" class="row border p-3 mb-4 works-each-year">
                            <!-- Items for 2021 will go here -->
                        </div>
                        <a href="paintings/2022"><h3 class="main-title-year">2022</h3></a>
                        <div id="kids-2022" class="row border p-3 mb-4 works-each-year">
                            <!-- Items for 2022 will go here -->
                        </div>
                        <a href="paintings/2023"><h3 class="main-title-year">2023</h3></a>
                        <div id="kids-2023" class="row border p-3 mb-4 works-each-year">
                            <!-- Items for 2023 will go here -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="kids-light-show" id="maps">
                <h2 class="home-titles text-center">Our annual Christmas lights map!</h2>
                <!-- Tab Container -->
                <div id="tab-container">
                    <div id="tab2023" class="tab active-tab">2023</div>
                    <div id="tab2022" class="tab">2022</div>
                    <div id="tab2021" class="tab">2021</div>
                </div>

                <!-- Content Container -->
                <div id="content-container" class="position-relative">
                    <div id="content2023" class="content" style="display:block;">
                        <img src="/images/2023Map.webp" alt="2023Map" class="yearlyMap">
                    </div>
                    <div id="content2022" class="content" style="display:none;">
                        <img src="/images/2022Map.png" alt="2022Map" class="yearlyMap">
                    </div>
                    <div id="content2021" class="content" style="display:none;">
                        <img src="/images/2021Map.png" alt="2021Map" class="yearlyMap">
                    </div>
                </div>
            </section>
            <section class="kids-light-show" id="videos">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h2 class="home-titles text-center">Getting into the Christmas spirit!</h2>
                        <h4 class="text-center home-h4">Let's see what the kids say</h4>
                        <div class="row">
                            <!-- 2021 Video -->
                            <div class="col-md-6">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/YvMOjUjenJY" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <!-- 2022 Video -->
                            <div class="col-md-6">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/lRxeFhcz0_w" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="kids-light-show" id="background">
                <div  class="row justify-content-center">
                    <div class="col-md-10">
                        <h1 class="main-title text-center">Background</h1>
                        <p class="main-text">The idea for the Soho Kids Xmas Lights project started just before Christmas 2020 from an article I read on BBC News about a town in Newburgh, Scotland where the local primary school pupils have been designing Christmas lights to decorate the high street for over 20 years now.

                            I contacted Mrs Shona Gray (Head of Newburgh Action Group) to find out more, and to ask permission to bring the project to Soho, London in 2021, to Soho Parish Primary School (Artsmark Platinum award 2020) and its pupils.

                            In 2021 and in 2022 the project was very well received by the school and the community. It was a great success showcasing 21 (2021 edition) plus another 14 + 2 commissions (2022 edition) Christmas lighting panels on the streets of Soho designed by the selected 35 pupils from the local primary school.

                            The selection of the pupils’ entries is made yearly by a jury committee composed of various individuals - local residents, business owners, and Councillors, members of the Parents Teachers Association including Alumni pupils, The National Gallery, The Royal Institute of British Architects (RIBA Learning), designers, myself, and the renowned Daniel Lismore.

                            The Royal Institute of British Architects (RIBA Learning) every year distinguishes some of the pupils lighting designs with an award.</p>

                        <div class="image-container">
                            <img style="text-align: center" class="" src="https://cdn.statically.io/gh/chenxuzhou1/fastapi@main/xxx/adna.3jwe247ow7s0.webp" alt="client photo" >
                            <div class="speech-bubble">
                                <p class="card-text">I was inspired by the children of Newburgh, Scotland as they have been designing the Christmas lighting for
                                    their high street for over 20 years now - with the agreement of Mrs Shona Gray (Head of Newburgh Action Group),
                                    I set up and managed the Soho Kids Xmas Lights project in Soho, London since 2021 in collaboration with the local
                                    primary school pupils, which is now in its 3rd annual edition.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="kids-light-show" id="about">
                <h2 class="home-titles text-center">ABOUT US</h2>
                <img class="about-us-bg-image" src="test2.png" alt="test2.png">
                <h5 class="text-center">Purpose of activity</h5>
                <p class="text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-center">
                    <a href="/aboutus" class="btn btn-primary">See more</a>
                </div>
            </section>

        </div>
        <!--    anchor area    -->
        <div class="col-md-1">
            <nav class="nav flex-column bg-light position-fixed anchor-area">
                <a class="nav-link text-right" href="#works">Works</a>
                <a class="nav-link text-right" href="#maps">Maps</a>
                <a class="nav-link text-right" href="#videos">Videos</a>
                <a class="nav-link text-right" href="#background">Background</a>
                <a class="nav-link text-right" href="#about">About</a>
            </nav>
        </div>
    </div>
</div>

<!--    Footer  -->
<section th:replace="~{fragments/footer :: footerBlock}"/>

<!-- Back to Top Button -->
<button id="backToTopBtn" title="Go to top">Top</button>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
<script src="/js/header.js"></script>
</body>
</html>
