<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" type="text/css" href="home.css">

</head>
<body style="background-color: rgba(255,255,217,0.5)">

<div th:replace="~{fragments/header :: headerBlock}"/></div>
<div class="img-fluid">
    <img src="https://citylions.org/assets/hero-images/Banner-v8__FocusFillWyIwLjAwIiwiMC4wMCIsMjQwMCw5MDBd.png" alt="Image" class="img-fluid" style="transform: translateZ(-1px) scale(1.0);background-size: cover;"/>
    <div class="img-overlay">
        <h2 style="color: white">The child-designed light project returns to the streets of Soho for 2023!</h2>
    </div>
</div>
<div class="container" >

    <section class="row justify-content-center kids-light-show" style="background-color: rgba(73,73,73,1)">
        <h1 class="main-title">Works submitted and awarded over the years</h1>
        <p class="main-text">Award winning Architecture for Kids CIC presents its annual Soho Kids Xmas Lights project showcasing the designs of pupils from Soho Parish Primary School.

            The children designed the Christmas street lighting in keeping with this year's theme of lighting, identity of place, and fashion - inspired by their local area, which also offers an invitation to the entire community to engage and to reflect on the importance of the identity of a place and its development.

        </p>
        <button class="view-all">view more kids works>>></button>
        <div class="col-md-12">

            <h3 class="main-title-year">2021</h3>
            <div id="kids-2021" class="row border p-3 mb-4" style="background-color: rgba(255,255,217,1)">
                <!-- Items for 2021 will go here -->
            </div>
            <h3 class="main-title-year">2022</h3>
            <div id="kids-2022" class="row border p-3 mb-4" style="background-color: rgba(255,255,217,1)">
                <!-- Items for 2022 will go here -->
            </div>
            <h3 class="main-title-year">2023</h3>
            <div id="kids-2023" class="row border p-3 mb-4" style="background-color: rgba(255,255,217,1)">
                <!-- Items for 2023 will go here -->
            </div>

        </div>
    </section>


    <section class="row justify-content-center home-cards">
        <div class="col-md-6">
            <div class="vision" style="width: 18rem;">
                <img src="test2.png" class="card-img-top" alt="test2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Purpose of activity</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vision" style="width: 18rem;">
                <img src="test1.jpg" class="card-img-top" alt="test1.jpg">
                <div class="card-body">
                    <h5 class="card-title">Creator's vision </h5>
                    <p class="card-text">Some quick example text to build on the Creator's vision and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
    </section>

</div>

<div th:replace="~{fragments/footer :: footerBlock}"/></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
</body>
</html>
