<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="legacy.css">
    <link rel="stylesheet" href="common.css">
</head>
<body>
<div th:replace="~{fragments/header :: headerBlock}"/>
<div class="container">
    <section class="about-us-text">
        <div class="row justify-content-center">

<span class="main-title">  Thank you to Antonio, Hannah and Sophie. </span>
<p class="main-text">Soho Kids Xmas Lights" project is one of the best community projects I have ever been involved with. Pupils of our Soho Parish Primary School take part working with Architecture for Kids and 14 new designs are realised and will be installed across Soho.  West End ward councillors along with local businesses are proud to contribute again this year. This project brings so many parts of our community together in a celebration of light during the darkest months.


</p>
        </div>
    </section>
</div>
</body>
</html>