<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="mainpage.css">
</head>
<body>
<h1>GG</h1>

<div class="vision_purpose" >

    <div class="vision" style="width: 18rem;">
        <img src="test1.jpg" class="card-img-top" alt="test1.jpg">
        <div class="card-body">
            <h5 class="card-title">Creator's vision </h5>
            <p class="card-text">Some quick example text to build on the Creator's vision and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>

    <div class="vision" style="width: 18rem;">
        <img src="test2.png" class="card-img-top" alt="test2.jpg">
        <div class="card-body">
            <h5 class="card-title">Purpose of activity</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>

</div>

</body>
</html>
