<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make It Happen</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/header.js"></script>
    <link rel="stylesheet" type="text/css" href="makeItHappen.css">
</head>
<body>
<div th:replace="~{fragments/header :: headerBlock}"/>

<div class="banner">
</div>

<div class="container mt-1">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Make it Happen</h1>
            <p>In 2023 we will build upon the success of the two previous editions of the Soho Kids Xmas Lights project by continuing the collaboration with Soho Primary School - working with all 130 pupils to investigate the theme of Lighting, Identity of Place, and Fashion to design 14 new street lighting panels for the streets of Soho.</p>
            <p>The pupils' designs will be judged by a committee of local residents, business owners, Councillors, members of the Parents Teachers Association including alumni pupils, designers, architects, curators, and Daniel Lismore - the 14 winning designs will be transformed into LED lighting panels by Blachere Illumination UK; and a selected few will be distinguished with awards from the LIA and The Royal Institute of British Architects (RIBA Learning).</p>
            <p>We need your help to transform the children’s ideas into lighting panels to illuminate the streets of Soho this Christmas, to bring joy not only to the children but to the entire community that live, work and visit this vibrant part of central London.</p>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Antonio Capelao, Architectural Educator RIBA Architecture Ambassador</h5>
                    <img src="https://pbs.twimg.com/profile_images/1591451731912806402/MAGjGgoA_400x400.jpg" alt="Antonio Capelao" class="img-fluid float-end mb-2 mr-2" style="width:300px;padding-left: 10px">
                    <p class="card-text pt-5">"The theme of this year's project is Lighting, Identity of place, and Fashion - to inspire the Soho Primary School pupils to design the lighting panels, they will visit Andy Warhol: The Textiles exhibition at the Fashion and Textile Museum in London, and during the design workshops, they will work directly with architects, lighting designer (the LIA), and the renowned Daniel Lismore."</p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Louise Ritchie, Headteacher, Soho Parish Primary School</h5>
                    <img src="https://pbs.twimg.com/media/FcNjWovXoAItSWb?format=jpg&name=large" alt="Louise Ritchie" class="img-fluid float-start mb-2 mr-2" style="width:400px;padding-left: 10px">
                    <p class="card-text pt-5">"We have provided education for local children since 1699. We are passionate about serving our local families and therefore we have no faith criteria for entry, welcoming all to become valued members of our school community. We value the arts highly, and were delighted to receive the prestigious 'Artsmark Platinum' award from the Arts Council in September 2020. Our aim at Soho Parish is to develop confident children who are motivated, curious and enthusiastic about learning."</p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Hannah Peaty, Senior Leader and Art Lead, Soho Parish Primary School</h5>
                    <img src="https://www.sohoparish.co.uk/wp-content/uploads/2020/11/SohoParish-website-13-scaled.jpg" alt="Hannah Peaty" class="img-fluid float-end mb-2 mr-2" style="width:200px;padding-left:10px">
                    <p class="card-text pt-5">"The project has had a positive impact on the children, both developing their awareness of the different elements of art and architecture that go into designing the built environment, as well as motivating them to be creative and share their artwork with the community."</p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Daniel, Year 4, Soho Kids Xmas Lights 2022</h5>
                    <img src="/images/Daniel%20Motif.png" alt="Daniel Motif" class="img-fluid float-end mb-2 mr-2">
                    <p class="card-text">"When we were going outside and taking pictures, I was looking for opportunities for things around Soho to be included in my design. When we were back at school and looking at the photos, I noticed that there were some local places with logos that I liked. I combined a Chinese lucky cat with a pub logo to create my unique design. I added a Santa hat to make it more Christmassy. I would be very surprised and excited to win and have my work displayed on the street."</p>
                </div>
            </div>

            <h3 class="mt-2">Project Timeline:</h3>
            <ul>
                <li><b>January</b> finalise project concept and deadlines</li>
                <li><b>February</b> check council deadlines to request permission to install street lighting and costs – apply for grants and start fundraising initiatives;</li>
                <li><b>March / April</b> facilitate design workshops to all primary school pupils and obtain their evaluation of the process, start social media awareness about the project, and write initial press release;</li>
                <li><b>May</b> jury meeting to select pupils’ drawings;</li>
                <li><b>June</b> finalise scale of the project i.e. site and number of lighting panels / cross street panels and prepare curatorial workshops;</li>
                <li><b>July</b> submit pupils’ drawings to Blachere Illumination;</li>
                <li><b>October</b> curatorial workshops with the winners pupils, install street lighting, write final press release for publication and contact media;</li>
                <li><b>November</b> switch on lights event in Archer Street attended by the Lord Mayor of Westminster and the community (road closure and street party);</li>
                <li><b>December</b> Soho Kids Xams Lights exhibition in the streets of Soho;</li>
                <li><b>January</b> take down street lighting, final project evaluation and start the process for Christmas 2024)</li>
            </ul>

        </div>

    </div>
</div>
</div>
<div th:replace="~{fragments/footer :: footerBlock}"/>

</body>

</html>