<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Children's Creations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="painting_show.css">
</head>
<body>

<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <!-- Image carousel item 1 -->
        <div class="carousel-item active">
            <img src="test2.png" class="d-block w-100" alt="Step 1">
            <div class="carousel-caption d-none d-md-block">
                <h5>Step 1: Drawing</h5>
                <p>Children expressing their creativity through drawing.</p>
            </div>
        </div>
        <!-- Image carousel item 2 -->
        <div class="carousel-item">
            <img src="test2.png" class="d-block w-100" alt="Step 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>Step 2: Making Light</h5>
                <p>Children working on creating beautiful lamps.</p>
            </div>
        </div>
        <!-- Image carousel item ... -->
    </div>
    <!-- Carousel control button-->
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Introducing Bootstrap JS and jQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>



