<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
<div th:replace="~{fragments/header :: headerBlock}"/></div>

<div>
    <h1>Image Details</h1>
    <div>
        <img th:src="${kidsImage.url}" alt="Image" />
        <p>ID: <span th:text="${kidsImage.id}"></span></p>
        <p>Name: <span th:text="${kidsImage.name}"></span></p>
        <p>Age: <span th:text="${kidsImage.age}"></span></p>
    </div>
    <div>
        <button id="likeBtn" class="btn btn-success">Like</button>
        <span id="likeCount">0</span> Likes
    </div>
    <button id="addCommentBtn" class="btn btn-primary">Add Comments</button>


    <div>
        <form id="commentForm" style="display:none;" th:action="@{/addcomment}" method="post">
            <input type="hidden" name="imageId" th:value="${kidsImage.id}" />
            <textarea id="commentText" name="commentText" placeholder="Enter your comment here..."></textarea>
            <button type="submit" id="submitCommentBtn">Submit Comment</button>
        </form>
    </div>


<div>
    <form id="commentForm" style="display:none;" th:action="@{/addcomment}" method="post">
        <input type="hidden" name="imageId" th:value="${kidsImage.id}" />
        <textarea name="commentText" placeholder="Enter your comment here..."></textarea>
        <button type="submit">Submit Comment</button>
    </form>

</div>

    <div id="commentsSection">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="js/workpage.js"></script>
</body>
</html>
