<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Details</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="workPage.css">
    <link rel="stylesheet" href="common.css">
</head>
<body style="background-color: rgba(255,255,217,0.5)">
<div th:replace="~{fragments/header :: headerBlock}"/>

<div>
    <div>
        <div class="container">
            <h1>Image Details</h1>

            <div class="row custom-margin">

                <div class="col-md-4  ">
                    <img th:src="${kidsImage.sourceUrl}" alt="Child's Drawing" class="fixed-width-img"/>
                </div>
                <div class="col-md-4 custom-margin2">
                    <img th:src="${kidsImage.url}" alt="Decorative Light" class="fixed-width-img"/>
                </div>
                <div class="col-md-4 " id="GG">
                    <div class="info-text">
                        <p>Name: <span th:text="${kidsImage.name}">Sereen</span></p>
                        <p>Age: <span th:text="${kidsImage.age}">6</span></p>
                    </div>
                    <div>
                        <button id="likeBtn" class="btn btn-success">Like</button>
                        <span id="likeCount">0</span> Likes
                    </div>
                    <div>
                        <button id="addCommentBtn" class="btn btn-primary">Add Comments</button>
                    </div>
                    <div class="text-area-form">
                        <form id="commentForm" style="display:none;" th:action="@{/addcomment}" method="post">
                            <input type="hidden" name="imageId" th:value="${kidsImage.id}"/>
                            <textarea id="commentText" name="commentText"
                                      placeholder="Enter your comment here..."></textarea>
                            <button type="submit" id="submitCommentBtn">Submit Comment</button>
                        </form>
                    </div>
                </div>


            </div>
            <h1>Great comments</h1>
            <div id="commentsSection">
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footerBlock}"/>
    <!-- Back to Top Button -->
    <button id="backToTopBtn" title="Go to top">Top</button>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>
