<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soholighting.sohoTeam8.mapper.FeedbackMapper">
    <select id="findAllFeedbacks"
            resultType="com.soholighting.sohoTeam8.model.Feedback">
        SELECT *
        FROM Feedback;
    </select>
   <insert id="insertFeedback" parameterType="com.soholighting.sohoTeam8.model.Feedback">
       INSERT INTO Feedback (username, email, message)
       VALUES (#{feedback.username},#{feedback.email},#{feedback.message});
   </insert>
</mapper>